```
Contract: BountyDropper
  ✓ Deploys BountyDropper (69ms)
  ✓ Deploys ICO-1, ICO-2, ICO-3 Tokens (259ms)
  ✓ Minting ICO-1, ICO-2, ICO-3, Tokens to BountyDropper (330ms)
12
12
12
12
  ✓ addes stakes (249ms)

          Token 1 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0
          -------------------------
          Token 2 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Prelimiary Balances (156ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (94ms)

          Token 1 Balances
          BountyHunter1 : 10
          BountyHunter2 : 20
          BountyHunter3 : 0
          -------------------------
          Token 2 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Balances (140ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (79ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Balances (152ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (78ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 0
          BountyHunter2 : 15
          BountyHunter3 : 2
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Balances (150ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (61ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 2
          BountyHunter2 : 15
          BountyHunter3 : 2
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Balances (143ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (55ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 2
          BountyHunter2 : 35
          BountyHunter3 : 2
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Balances (143ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (66ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 2
          BountyHunter2 : 35
          BountyHunter3 : 2
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 15

  ✓ Balances (145ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (109ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 2
          BountyHunter2 : 35
          BountyHunter3 : 2
          -------------------------
          Token 3 Balances
          BountyHunter1 : 30
          BountyHunter2 : 0
          BountyHunter3 : 15

  ✓ Balances (156ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (68ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 2
          BountyHunter2 : 35
          BountyHunter3 : 2
          -------------------------
          Token 3 Balances
          BountyHunter1 : 30
          BountyHunter2 : 400
          BountyHunter3 : 15

  ✓ Balances (143ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (58ms)

          Token 1 Balances
          BountyHunter1 : 13
          BountyHunter2 : 20
          BountyHunter3 : 33
          -------------------------
          Token 2 Balances
          BountyHunter1 : 2
          BountyHunter2 : 35
          BountyHunter3 : 2
          -------------------------
          Token 3 Balances
          BountyHunter1 : 30
          BountyHunter2 : 400
          BountyHunter3 : 345

  ✓ Balances (145ms)


23 passing (3s)
```
