```
Contract: BountyDropper
  ✓ Deploys BountyDropper (101ms)
  ✓ Deploys ICO-1, ICO-2, ICO-3 Tokens (454ms)
  ✓ Minting ICO-1, ICO-2, ICO-3, Tokens to BountyDropper (653ms)
  ✓ Add 500 stakes in ICO-1 for BH-1 (66ms)
  ✓ Add 100 stakes in ICO-1 for BH-2 (53ms)
  ✓ Add 1000 stakes in ICO-1 for BH-3 (49ms)
  ✓ Add 500 stakes in ICO-2 for BH-1 (69ms)
  ✓ Add 50 stakes in ICO-2 for BH-2 (165ms)
  ✓ Add 300 stakes in ICO-2 for BH-3 (122ms)
  ✓ Add 500 stakes in ICO-3 for BH-1 (69ms)
  ✓ Add 500 stakes in ICO-3 for BH-2 (122ms)
  ✓ Add 500 stakes in ICO-3 for BH-3 (71ms)

          Token 1 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0
          -------------------------
          Token 2 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Preliminary Balances (439ms)
  ✓ Distributes stakes in ICO-1 at rate of 50 (397ms)

          Token 1 Balances
          BountyHunter1 : 25000
          BountyHunter2 : 5000
          BountyHunter3 : 50000
          -------------------------
          Token 2 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Balances (756ms)
  ✓ Distributes stakes in ICO-2 at rate of 10 (800ms)

          Token 1 Balances
          BountyHunter1 : 25000
          BountyHunter2 : 5000
          BountyHunter3 : 50000
          -------------------------
          Token 2 Balances
          BountyHunter1 : 5000
          BountyHunter2 : 500
          BountyHunter3 : 3000
          -------------------------
          Token 3 Balances
          BountyHunter1 : 0
          BountyHunter2 : 0
          BountyHunter3 : 0

  ✓ Balances (732ms)
  ✓ Distributes stakes in ICO-2 at rate of 3 (284ms)

          Token 1 Balances
          BountyHunter1 : 25000
          BountyHunter2 : 5000
          BountyHunter3 : 50000
          -------------------------
          Token 2 Balances
          BountyHunter1 : 5000
          BountyHunter2 : 500
          BountyHunter3 : 3000
          -------------------------
          Token 3 Balances
          BountyHunter1 : 1500
          BountyHunter2 : 3000
          BountyHunter3 : 1200

  ✓ Balances (733ms)


19 passing (6s)
```
